extends default

block content
    div.container
        div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
            h2 About Us
            p This is a website to...

        div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
            h2 Contact
            p Info
            p Info