extends default

block content
    div.container
        div.m-3
            div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h2 About Us
                p A Computer Science project built by Daniel Cai in 2019.

            div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h2 Contact
                a(href="https://github.com/Dcai169/commons-music") GitHub