extends default

block content
    div.m-3
        div.container
            if suggestSuccess === 1
                div(row)
                    div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
                        div(class="alert alert-success alert-dismissible fade show" role="alert") Thanks for your suggestion!
                            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                span(aria-hidden="true") &times;
            div.row
                div(class="col-6")
                    div(class="jumbotron")
                        h4.text-center
                            a(href="#" class="btn btn-primary btn-lg" roll="button" onclick="voteToSkip()") Skip
                div(class="col-6")
                    div(class="")
                        form(method="post")
                            div.form-group
                                label(for="inputSpotifyURI") Suggest a Song
                                input(type="text" class="form-control" id="inputSpotifyURI" placeholder="spotify:track:7Ghlk7Il098yCjg4BQjzvb")
                                br
                                input(type="submit" value="Suggest" class="btn btn-primary") 