extends default

block content
    div.m-3
        div.container
            if suggestSuccess === 1
                div(row)
                    div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
                        div(class="alert alert-success alert-dismissible fade show" role="alert") Thanks for your suggestion!
                            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                span(aria-hidden="true") &times;
            div.row
                div(class="col-6")
                    div(class="jumbotron")
                        h4.text-center
                            if skipActive === true
                                a(href="#" class="btn btn-primary btn-lg" role="button" onclick="voteToSkip()") Skip
                            else
                                div(class="alert alert-warning text-center" role="alert") Skipping is not active now.
                                a(href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" onclick="" aria-disabled="true") Skip
                div(class="col-6")
                    div(class="")
                        form(method="post")
                            div.form-group
                                label(for="inputSpotifyURI") Suggest a Song
                                input(type="text" class="form-control" name="inputSpotifyURI" placeholder="spotify:track:7Ghlk7Il098yCjg4BQjzvb")
                                br
                                button(type="submit" class="btn btn-primary") Suggest