extends default

block content
    div.container
        div(row)
            div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
                h2 Dashboard Content
        div(row)
            div(class="col-lg-8 col-md-8 col-sm-9 col-xs-12")
                div(class="jumbotron")
                    h4 Skip
            div(class="col-lg-4 col-md-4 col-sm-3 col-xs-12")
                div(class="well")
                    p Suggest a Song