extends default

block content
    div.jumbotron
        div.container
            h1 
                strong Music your way
            p Communal Music Control. Consensus Skips, Song Suggestion, and Autoplay. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique nulla aliquet enim tortor at.
            p
                a(href="/login" class="btn btn-primary btn-lg" roll="button") Get started