extends default

block content
    div.jumbotron
        div.container
            h1 
                strong Music your way. 
            p Egalitarian skipping, Song Suggestion, and more.
            p
                a(href="/login" class="btn btn-primary btn-lg" roll="button") Get started