extends default

block content
    h1 filler
    h1 filler
    h1 filler
    h1 filler
    h1 filler
    h1 filler
    h1 filler
    h1 filler
    h1 filler
    h1 filler
    | 
    a(href="https://google.com") pha
    | 
    a(href="https://google.com") la
    | 