extends default

block content
  div.container
    a(href="https://accounts.spotify.com/authorize?client_id=7cf79120b8d6461fa7a3501e50b972d2&response_type=code&redirect_uri=http://example.com&scope=streaming%20user-read-email%20user-read-private&state=none")
