body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: white; */
    /* background-color: #191414; */
}

/* header {
    background-color: #ffa600;
} */

main {
    position: relative;
    /* top: 100px; */
    width: 90%;
    left: 5%;
    /* vertical-align: 10px; */
}

a {
    font-style: normal;
    text-decoration: none;
    /* font-size: 2em; */
}
